<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-file-image-o fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">秀图管理</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>id</th>
						<th>发布人</th>
						<th>点赞数</th>
						<th>评论数</th>
						<th>点击量</th>
						<th>是否置顶</th>
						<!-- <th>设为顶部轮播图</th> -->
						<th>设为底部轮播图</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="showImageManagement_data" class="admin_ui_table_hoverEffect">
					<tr v-for="show in dataSource_filter" v-show="$index >= (pageIndex-1)*10 && $index < pageIndex*10">
						<td>{{show.id}}</td>
						<td>{{show.user_nick}}</td>
						<td>{{show.like}}</td>
						<td>{{show.comment}}</td>
						<td>{{show.read}}</td>
						<td style="width:136px;">
							<div class="admin_ui_select">
							<select v-model="show._top" @change="topShowButton($index)">
								<option :value="true">是</option>
								<option :value="false">否</option>
							</select>
							</div>
						</td>
						<!-- <td>
							<div class="admin_ui_button admin_ui_button_xs admin_ui_button_white" data-addShowImageAsTopSlideImage>设置</div>
						</td> -->
						<td>
							<div @click="addShowImageAsBottomSlideImage($index)" class="admin_ui_button admin_ui_button_xs admin_ui_button_white">设置</div>
						</td>
						<td class="admin_ui_table_action">
							<a href="#/showImageManagementDetail.html?{{encodeURI(JSON.stringify(show))}}" class="iconButton checkIcon">
								<i class="fa fa-eye"></i>
								查看
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script>
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		pageIndex: 1
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				if(self.isContainKeyword([_data.id, _data.user_nick],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count:3,
			    jump:true,
				coping:true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			        self.pageIndex = index;
			    }
			});
		},
		topShowButton: function(index){
			var self = this;
			var showId = self.dataSource_filter[index].id,
				value = self.dataSource_filter[index]._top;
			if(!value){
				// 取消置顶
				$.when(cancelTopShow(showId)).done(function(data){
					if(data.state == 0){
						alert("取消置顶成功！");
					}
					else{
						self.dataSource_filter[index]._top = true;
					}
				});
			}
			else{
				// 置顶
				$.when(topShow(showId)).done(function(data){
					if(data.state == 0){
						alert("置顶成功！");
					}
					else{
						self.dataSource_filter[index]._top = false;
					}
				});
			}
		},
		addShowImageAsBottomSlideImage: function(index){
			var self = this;
			var showId = self.dataSource_filter[index].id;
			// 设为底部轮播图
			$.when(addShowImageAsBottomSlideImage(showId)).done(function(data){
				if(data.state == 0){
					alert("设置成功！");
				}
			});
		}
	},
	created: function(){
		var self = this;
		$.when(getShowRank(1,0)).done(function(data){
			if(data.state == 0){
				self.dataSource = data.show;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
		});
	}
});
	// $.when(getShowRank(1,0)).done(function(data){
	// 	if(data.state == 0){
	// 		var html = "";
	// 		for(var i = 0, length = data.show.length; i < length; i++){
	// 			var show = data.show[i];
	// 			var showDataString = encodeURI(JSON.stringify(show));
	// 			html+= '<tr data-showId="'+show.id+'">'+
	// 						'<td>'+show.id+'</td>'+
	// 						'<td>'+show.user_nick+'</td>'+
	// 						'<td>'+
	// 							show.like+
	// 						'</td>'+
	// 						'<td>'+
	// 							show.comment+
	// 						'</td>'+
	// 						'<td>'+
	// 							show.read+
	// 						'</td>'+
	// 						'<td style="width:136px;">'+
	// 							'<div class="admin_ui_select">'+
	// 							'<select data-topShowButton>'+
	// 								'<option value="1" '+(show._top?" selected":"")+'>是</option>'+
	// 								'<option value="0" '+(show._top?"":" selected")+'>否</option>'+
	// 							'</select>'+
	// 							'</div>'+
	// 						'</td>'+
	// 						// '<td>'+
	// 						// 	'<div class="admin_ui_button admin_ui_button_xs admin_ui_button_white" data-addShowImageAsTopSlideImage>设置</div>'+
	// 						// '</td>'+
	// 						'<td>'+
	// 							'<div class="admin_ui_button admin_ui_button_xs admin_ui_button_white" data-addShowImageAsBottomSlideImage>设置</div>'+
	// 						'</td>'+
	// 						'<td class="admin_ui_table_action">'+
	// 							'<a href="#/showImageManagementDetail.html?'+showDataString+'" class="iconButton checkIcon">'+
	// 								'<i class="fa fa-eye"></i>'+
	// 								'查看'+
	// 							'</a>'+
	// 						'</td>'+
	// 					'</tr>';
	// 		}
	// 		$("#showImageManagement_data").append(html);
	// 		TablePage(".admin_ui_table",10);
	// 	}
	// });
	// $("#showImageManagement_data").on('change','[data-topShowButton]',function(e){
	// 	var $this = $(this);
	// 	var showId = $this.closest("tr").attr("data-showId");
	// 	if($(this).val() == 0){
	// 		// 取消置顶
	// 		$.when(cancelTopShow(showId)).done(function(data){
	// 			if(data.state == 0){
	// 				alert("取消置顶成功！");
	// 			}
	// 			else{
	// 				$this.val(1);
	// 			}
	// 		});
	// 	}
	// 	else{
	// 		// 置顶
	// 		$.when(topShow(showId)).done(function(data){
	// 			if(data.state == 0){
	// 				alert("置顶成功！");
	// 			}
	// 			else{
	// 				$this.val(0);
	// 			}
	// 		});
	// 	}
	// });
//	是否设为顶部轮播图
	// $("#showImageManagement_data").on('click','[data-addShowImageAsTopSlideImage]',function(){
	// 	var $this = $(this);
	// 	var showId = $this.closest("tr").attr("data-showId");
	// 	// 设为顶部轮播图
	// 	$.when(addShowImageAsTopSlideImage(showId)).done(function(data){
	// 		if(data.state == 0){
	// 			alert("设置成功！");
	// 		}
	// 	});
	// });
	//	是否设为底部轮播图
	$("#showImageManagement_data").on('click','[data-addShowImageAsBottomSlideImage]',function(){
		var $this = $(this);
		var showId = $this.closest("tr").attr("data-showId");
		// 设为底部轮播图
		$.when(addShowImageAsBottomSlideImage(showId)).done(function(data){
			if(data.state == 0){
				alert("设置成功！");
			}
		});
	});
</script>