<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-users fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">使用量</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>用户id</th>
						<th>用户名</th>
						<th>最近一次浏览时间</th>
						<th>总浏览次数</th>
					</tr>
				</thead>
				<tbody class="admin_ui_table_hoverEffect">
					<tr v-for="user in dataSource_filter" v-show="$index >= (pageIndex-1)*10 && $index < pageIndex*10">
						<td>
							{{user.id}}
						</td>
						<td>{{user.userinfo.nick}}</td>
						<td>
							{{stamp2time(user.success_time)}}
						</td>
						<td class="admin_ui_table_action">
							{{user.success_times}}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		pageIndex: 1
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				var labelString = "";
				for(j in _data.pointShows){
					labelString += _data.pointShows[j].name+" ";
				}
				if(self.isContainKeyword([_data.id,_data.userinfo.nick, stamp2time(_data.success_time/1000), _data.times],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count: 3,
			    jump: true,
				coping: true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			    	self.pageIndex = index;
			    }
			});
		}
	},
	created: function(){
		var self = this;
		$.when(getUser()).done(function(data){
			if(data.state == 0){
				self.dataSource = data.user;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
		});
	}
});
</script>