<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-users fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">用户管理</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>id</th>	
						<th>用户名</th>
						<th>注册手机号</th>
						<th>注册时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="userManagement_userData" class="admin_ui_table_hoverEffect">
					<tr v-for="user in dataSource_filter" v-show="$index >= (pageIndex-1)*10 && $index < pageIndex*10">
						<td>{{user.id}}</td>
						<td>{{user.userinfo.nick?user.userinfo.nick:""}}</td>
						<td>{{user.userinfo.phone?user.userinfo.phone:""}}</td>
						<td>{{stamp2time(user.in_time)}}</td>
						<td class="admin_ui_table_action">
							<a href="#/userManagementDetail.html?{{encodeURI(JSON.stringify(user))}}" class="iconButton checkIcon">
								<i class="fa fa-eye"></i>
								查看
							</a>
							<div class="iconButton removeIcon" @click="deleteUserButton($index)">
								<i class="fa fa-remove"></i>
								禁用
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		pageIndex: 1
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _user = self.dataSource[index];
				if(self.isContainKeyword([_user.id, stamp2time(_user.in_time), _user.userinfo.nick, _user.userinfo.nick.phone],self.keyword)){
					self.dataSource_filter.push(_user);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count: 3,
			    jump: true,
				coping: true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			        self.pageIndex = index;
			    }
			});
		},
		deleteUserButton: function(index){
			var self = this;
			if(confirm("您确定要删除该用户吗？")){
				$.when(deleteUser(self.dataSource_filter[index].id)).done(function(data){
					if(data.state == 0){
						alert("删除成功");
						self.dataSource_filter.splice(index,1);
						self.refreshTable();
					}
				});
			}
		}
	},
	created: function(){
		var self = this;
		$.when(getUser()).done(function(data){
			if(data.state == 0){
				self.dataSource = data.user;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
		});
	}
});
		
</script>